@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');
@font-face {
    font-family: 'meeraregular';
    src: url('meera-webfont.woff2') format('woff2'),
         url('meera-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body,
#wpadminbar *:not([class="ab-icon"]),
.wp-core-ui,
.media-menu,
.media-frame *,
.media-modal * {
    font-family: "Manjari", sans-serif !important;
}
